* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", arial;
}

.container {
  background: linear-gradient(orange, yellow);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container h1 {
  margin-top: 1.5rem;
}

.container h1::after {
  content: "";
  animation: listAnim 6s linear infinite;
}

@keyframes listAnim {
  0% {
    content: "Exercise";
  }

  25% {
    content: "Project";
  }
  50% {
    content: "Meditate";
  }
  75% {
    content: "Read";
  }
  100% {
    content: "Write";
  }
}

.container form {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;

  height: 75%;
  width: 100%;
  text-align: center;
}

.container form input {
  padding: 0.9rem;
  width: 60%;
  margin: 2rem auto;
  border-radius: 6px;
  border: none;
}

.container form button {
  width: 30%;
  padding: 0.6rem;
  border: none;
  border-radius: 6px;
  background-color: black;
  color: aliceblue;
  margin: 2rem auto;
}

.container Button:hover {
  color: black;
  background-color: blanchedalmond;
}

.todos {
  cursor: pointer;
  margin: 0.3rem 0;
}

.app-footer {
  position: absolute;
  bottom: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  background: linear-gradient(orange, yellow);
  height: 100vh;
}

.first-screen img {
  height: 30%;
  width: auto;
  position: absolute;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  animation: anim 1.8s ease-in infinite;
}

.first-screen Button {
  color: aliceblue;
  background-color: black;
}

.first-screen Button:hover {
  color: black;
}

@keyframes anim {
  0% {
    margin-bottom: 3rem;
  }

  25% {
    margin-bottom: 4.5rem;
  }
  50% {
    margin-bottom: 5.5rem;
  }
  75% {
    margin-bottom: 4.5rem;
  }
  100% {
    margin-bottom: 3rem;
  }
}
